{% extends './base.html' %}

{% block title %}Administrador{% endblock %}

{% block body %}

<header>
    <span class="icon menu-btn" onclick="toggleMenu()">☰</span>

    <h1>Panel de administración - {{ current_user.fullname }}</h1>

    <a href="{{ url_for('home') }}">
        <span class="icon">🏠</span>
    </a>
</header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">ADMINISTRACIÓN DE PRODUCTOS</h1>
                <p>Aquí puedes gestionar la tienda</p>
            </div>
        </div>
    </section>

    <!-- PANEL ADMIN -->
    <div class="container">

        <div class="mb-4">
            <a href="/admin/agregar" class="btn btn-success">➕ Añadir producto</a>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-3">

            {% for producto in productos %}
            <div class="col">
                <div class="card shadow-sm">

                    <img src="{{ url_for('static', filename=producto[6]) }}" class="card-img-top"
                        style="height: 250px; object-fit: cover;">

                    <div class="card-body">
                        <h5>{{ producto[1] }}</h5>
                        <p>{{ producto[7] }}</p>
                        <p><b>{{ producto[4] }}€</b></p>

                        <div class="d-flex justify-content-between">
                            <a href="/admin/editar/{{ producto[0] }}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="/admin/eliminar/{{ producto[0] }}" class="btn btn-danger btn-sm">Eliminar</a>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</main>

{% endblock %}