{% extends './base.html' %}

{% block title %}Login{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<form class="form-signin needs-validation" action="/register" method="POST" novalidate>

    <img class="mb-4" src="{{ url_for('static', filename='img/tiendaInfor.png') }}" alt="" width="150" height="100">
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% endwith %}
    <h1 class="h3 mb-3 fw-normal">Por favor registrate</h1>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        <label for="username">Usuario</label>

        <div class="invalid-feedback">
            El usuario es obligatorio
        </div>

    </div>

    <div class="form-floating mt-2">
        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" minlength="6"
            required>
        <label for="password">Contraseña</label>

        <div class="invalid-feedback">
            La contraseña debe tener mínimo 6 caracteres
        </div>

    </div>

    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="nombre completo" required>
        <label for="fullname">Nombre completo</label>

        <div class="invalid-feedback">
            El nombre completo es obligatorio
        </div>
    </div>

    <div class="form-floating mb-2">
        <input type="email" class="form-control" id="correo" name="correo" placeholder="correo" required>
        <label for="correo">Correo</label>

        <div class="invalid-feedback">
            Introduce un correo válido
        </div>

    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>

</form>

<script>
    (() => {
        'use strict'

        const forms = document.querySelectorAll('.needs-validation')

        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {

                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')

            }, false)
        })
    })()
</script>
{% endblock %}